body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
    background-color: #212121;
    color: #fbf6f0;

}

#add{
    border-bottom: 1px solid #0d7377;
    padding-bottom: 10px;
}

h2{
    text-align: left;
    margin: auto;
}

#todo-container{
    margin-left: 50px;
    display: grid;
    grid-row: 1;
    justify-content: center;
    justify-items: center;
   
   
}
#form{
    background-color: #323232;
    padding: 35px 50px 55px 50px;
    border: 1px solid #fbf6f0;
    border-radius: 5px;
    justify-items: center;
    justify-content: center;
    text-align: left;
}

div.form-group{
    position: relative;
    justify-content: center;
}

span{
    text-align: center;
    font-size: 1.4em;
    border-radius: 10px;
    color: black;
}

input{
    text-align: left;
}

ul#todo-ul{
    position: relative;
    border: 1px solid black;
    text-align: center;
    justify-items: center;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    color: black;
    background-color: #12959ae5;
}
.todo-details {
    display:flex;
    flex-direction:column;

    header {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:.5em 1em;
    }

    .item {
        flex:1;
        padding: 1em;
    }

}

.todo {

    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em;

    form {

        display:flex;
        flex-direction:column;
        

        label {
            display: flex;
            flex-direction:column;
            margin-bottom: 1em;
        }
    }

    ul {
        list-style-type:none;
        margin:0;
        padding:0;

        li {

            align-items: center;
            display:flex;
            flex-direction:row;
            font-size: .75em;
            margin: .75em .5em;

            &.complete-true {
              span {
                background: #f38181;
                text-decoration:line-through;
                &:hover {
                   background: #ffffff;
                }
              }
            }

            span {
                background: #ffffff;
                cursor:pointer;
                &:hover {
                    background: #14ffebba;
                }
            }
             span, input {
                 border: .5px solid #eee;
                 display:inline-block;
                 padding: .2em .25em;
                 width: 300px;
             }

            button {
                background: transparent;
                border:none;
                color:#14ffec;
                cursor:pointer;
                padding:0;
                margin: 0 .75em;
            }

        }
    }

}